<link rel="import" href="../triplat-view-behavior/triplat-view-behavior.html">
<link rel="import" href="../triplat-routing/triplat-routing.html">
<link rel="import" href="../triplat-progress-gauge/triplat-progress-gauge.html">
<link rel="import" href="../triplat-ds/triplat-ds.html">
<link rel="import" href="../triplat-query/triplat-query.html">
<link rel="import" href="../triplat-date-picker/triplat-date-picker.html">
<link rel="import" href="../triplat-table-behavior/triplat-table-behavior.html">
<link rel="import" href="../triplat-weather/triplat-weather-current.html">

<link rel="import" href="../triblock-page-container-behavior/triblock-page-container-behavior.html">

<link rel="import" href="../tri-loading-indicator/tri-loading-indicator.html">

<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/communication-icons.html">
<link rel="import" href="../iron-icons/hardware-icons.html">
<link rel="import" href="../iron-input/iron-input.html">
<link rel="import" href="../iron-media-query/iron-media-query.html">
<link rel="import" href="../iron-localstorage/iron-localstorage.html">

<link rel="import" href="../paper-button/paper-button.html">

<link rel="import" href="tricomp-search-input.html">
<link rel="import" href="tricomp-progress-assessment-card.html">

<dom-module id="tripage-my-space-assessments">

	<style>

		:host {
			@apply(--layout-fit);
			@apply(--layout-vertical);
		}

		.header {
			@apply(--layout-horizontal);
			padding: 20px;
		}

		main {
			@apply(--layout-flex);
			@apply(--layout-horizontal);
			@apply(--layout-center-justified);
			@apply(--layout-relative);
			min-height: 0;
		}

		triplat-progress-gauge {
			--triplat-progress-gauge-circle-stroke-color: #c7c7c8;
		}

		.action-button-container {
			padding-left: 20px;
			margin-left: 20px;
			border-left: 1px solid var(--tri-primary-content-accent-color);
			@apply(--layout-horizontal);
			@apply(--layout-center-center);
		}

		.action-button {
			@apply(--layout-vertical);
			@apply(--layout-self-center);
			@apply(--layout-center-justified);
			@apply(--tri-active-button);
			height: 44px;
			font-size: 14px;
			text-transform: none;
			font-weight: bold;
			padding-left: 18px;
			padding-right: 18px;
			margin-right: 0;
		}

		.assessment-card-container {
			@apply(--layout-flex);
			@apply(--layout-scroll);
			align-content: flex-start;
			min-width: 0;
		}

		.assessment-card {
			margin: 0px 10px 20px 20px;
			box-sizing: border-box;
		}

		@media (min-width: 1560px) {
			.assessment-card {
				width: calc(25% - 25px);
			}

			.search-container {
				width: 500px;
			}
		}

		@media (max-width: 1559px) and (min-width: 1160px) {
			.assessment-card {
				width: calc(33.3333% - 26px);
			}
		}

		@media (max-width: 1159px) and (min-width: 650px) {
			.assessment-card {
				width: calc(50% - 30px);
			}
		}

		@media (max-width: 649px) {
			.assessment-card {
				width: calc(100% - 40px);
			}

			.search-container {
				width: 365px;
			}
		}

		.assessment-col-description {
			@apply(--layout-flex-2);
		}

		.assessment-col-status {
			@apply(--layout-flex);
		}

		.assessment-col-city {
			@apply(--layout-flex);
		}

		.assessment-col-building {
			@apply(--layout-flex);
		}

		.assessment-col-floor {
			@apply(--layout-flex);
		}

		.assessment-col-date {
			@apply(--layout-flex);
		}

		.assessment-header-cell {
			cursor: pointer;
		}
		
		.assessment-row:hover {
			cursor: pointer;
			background-color: var(--tri-primary-light-color) !important;
		}

		.assessment-table-container {
			@apply(--layout-flex);
			@apply(--layout-horizontal);
			@apply(--layout-scroll);
			background-color: var(--tri-primary-content-background-color);
			min-height: 0;
		}

		.assessment-table {
			box-sizing: border-box;
			width: 100%;
			min-width: 621px; /* 100px/col * 6 cols + 21px scrollbar = 621px... had to set this for scrolling to work properly */
		}

		.assessment-table-progress-container {
			@apply(--layout-flex);
			@apply(--layout-horizontal);
			@apply(--layout-center);
		}

		.assessment-table-progress-label {
			@apply(--layout-flex);
			padding-left: 10px;
			min-width: 0;
		}

		.assessment-table-progress-gauge {
			--triplat-progress-gauge-percent-font-size: 12px;
			--triplat-progress-gauge-value-font-size: 14px;
			font-weight: bold;
			width: 50px;
			height: 50px;
		}

		.internet-explorer-fix {
			@apply(--layout-horizontal);
			@apply(--layout-wrap);
			@apply(--layout-start);
			@apply(--layout-start-justified);
		}

		.layout-button {
			@apply(--layout-vertical);
			@apply(--layout-center-center);
			border-right: 1px solid var(--tri-primary-content-accent-color);
			height: 50px;
			color: #4178BE;
			padding-left: 0px;
			padding-right: 20px;
			cursor: pointer;
			margin-right: 20px;
		}

		.layout-icon {
			width: 40px;
			height: 40px;
		}

		.no-assessments-container {
			@apply(--layout-flex);
			@apply(--layout-vertical);
			@apply(--layout-center-center);
		}

		.no-assessments-message {
			font-weight: bold;
			font-size: 1.5em;
			text-align: center;
		}

		.search-container {
			@apply(--layout-horizontal);
			@apply(--layout-flex);
			@apply(--layout-center);
		}

		.sort-icon {
			--iron-icon-height: 16px;
			--iron-icon-width: 16px;
		}

		.sort-icon[icon="sort"] {
			color: var(--ibm-gray-10);
		}

		.accessibility {
			display: none;
		}

		.current-weather {
			@apply(--layout-vertical);
			padding: 10px 10px 10px 20px;
			color: var(--ibm-gray-50);
		}

			.weather-title {
				font-size: 12px;
				font-style: italic;
				padding-bottom: 5px;
			}

				.weather-data {
					@apply(--layout-horizontal);
					@apply(--layout-self-center);
					text-align: center;
				}

					.temps {
						@apply(--layout-horizontal);
						@apply(--layout-self-center);
						padding-right: 5px;
					}

	</style>

	<template>

		<triplat-route id="walkthruRoute" name="walkthruAssessment"></triplat-route>
		<triplat-route id="createNewRoute" name="newSpaceAssessment"></triplat-route>

		<triplat-ds name="currentUser" data="{{currentUser}}"></triplat-ds>

		<triplat-ds id="mySpaceAssessmentsDs" name="mySpaceAssessments" data="{{unfilteredSpaceAssessments}}" filtered-data="{{mySpaceAssessments}}" loading="{{mySpaceAssessmentsLoading}}">
			<triplat-query>
				<triplat-query-filter name="description" operator="contains" value="{{_currentFilter}}" ignore-if-blank></triplat-query-filter>
				<triplat-query-or></triplat-query-or>
				<triplat-query-filter name="city" operator="contains" value="{{_currentFilter}}" ignore-if-blank></triplat-query-filter>
				<triplat-query-or></triplat-query-or>
				<triplat-query-filter name="building.value" operator="contains" value="{{_currentFilter}}" ignore-if-blank></triplat-query-filter>
				<triplat-query-or></triplat-query-or>
				<triplat-query-filter name="floor.value" operator="contains" value="{{_currentFilter}}" ignore-if-blank></triplat-query-filter>
				<triplat-query-or></triplat-query-or>
				<triplat-query-filter name="status" operator="contains" value="{{_currentFilter}}" ignore-if-blank></triplat-query-filter>

				<triplat-query-sort name="{{sortField}}" desc="{{sortDescending}}"></triplat-query-sort>
				<triplat-query-sort name="{{secondSortField}}" desc="{{secondSortDescending}}"></triplat-query-sort>
			</triplat-query>
		</triplat-ds>

		<triplat-weather-current
		 	auto
		 	language="[[currentUser._Locale]]"
		 	units="[[_computeUnits(currentUser.temperatureUnitIV)]]"
		 	postal-and-country-code="{{_computePostalAndCountryCodes(currentUser.postalZipCode, currentUser.countryCode)}}"
		 	observation="{{observation}}"></triplat-weather-current>

		<iron-media-query query="(min-width: 800px)" query-matches="{{_largeScreenWidth}}"></iron-media-query>

		<iron-localstorage id="layoutPreferenceLocalStorage" name="layoutPreference" value="{{layoutPreference}}" use-raw on-iron-localstorage-load-empty="_initializeLayoutPreference" tabindex="0"></iron-localstorage>

		<div class="header" hidden$="{{_computeMySpaceAssessmentsEmpty(unfilteredSpaceAssessments.length)}}">
			<div class="search-container">
				<div id="layoutButtons" class="layout-button">
					<triplat-icon id="tableLayoutButton" class="layout-icon" icon="spreadsheet-listview" on-tap="_handleTableLayoutButtonTap" hidden$="{{_tableLayout}}" tab-index="0"></triplat-icon>
					<triplat-icon id="cardLayoutButton" class="layout-icon" icon="spaces" on-tap="_handleCardLayoutButtonTap" hidden$="{{!_tableLayout}}" tab-index="0"></triplat-icon>
				</div>

				<tricomp-search-input value="{{_currentFilter}}" aria-labelledby="searchInput"></tricomp-search-input>
			</div>
			<template is="dom-if" if="[[observation]]">
				<div class="current-weather" hidden$="[[!observation]]">
					<div class="weather-title">Current weather for [[currentUser.city]]</div>
					<div class="weather-data">
						<div class="temps" hidden$="[[!_computeIsEnglishUnit(currentUser.temperatureUnitIV)]]">{{observation.imperial.temp}}°F</div>
						<div class="temps" hidden$="[[_computeIsEnglishUnit(currentUser.temperatureUnitIV)]]">{{observation.metric.temp}}°C</div>
						<div class="blurb">[[observation.phrase_32char]]</div>
					</div>
				</div>
			</template>
			<div class="action-button-container" hidden$="{{!createPermission}}">
				<paper-button on-tap="_handleCreateNew" class="action-button" role="button" aria-labelledby="newAssessment">New Assessment</paper-button>
			</div>
		</div>

		<main id="content" role="main" aria-labelledby="applicationName">
			<tri-loading-indicator show="{{_computeLoading(mySpaceAssessmentsLoading, mySpaceAssessmentsReady)}}" hide-background></tri-loading-indicator>

			<div class="assessment-table-container" hidden$="{{_hideAssessmentTable(_tableLayout, mySpaceAssessments.length)}}">
				<div tri-fixed-table class="assessment-table">
					<div tri-thead>
						<div tri-tr>
							<div class="assessment-col-description">
								<div tri-th class="assessment-header-cell" on-tap="_handleColumnSort" data-column="description"><span label>Description</span>&nbsp;<triplat-icon class="sort-icon" icon="sort" tabindex="-1"></triplat-icon></div>
							</div>
							<div class="assessment-col-status">
								<div tri-th class="assessment-header-cell" on-tap="_handleColumnSort" data-column="assessmentProgress"><span label>Status</span>&nbsp;<triplat-icon class="sort-icon" icon="sort" tabindex="-1"></triplat-icon></div>
							</div>
							<div class="assessment-col-city">
								<div tri-th class="assessment-header-cell" on-tap="_handleColumnSort" data-column="city"><span label>City</span>&nbsp;<triplat-icon class="sort-icon" icon="sort" tabindex="-1"></triplat-icon></div>
							</div>
							<div class="assessment-col-building">
								<div tri-th class="assessment-header-cell" on-tap="_handleColumnSort" data-column="building.value"><span label>Building</span>&nbsp;<triplat-icon class="sort-icon" icon="sort" tabindex="-1"></triplat-icon></div>
							</div>
							<div class="assessment-col-floor">
								<div tri-th class="assessment-header-cell" on-tap="_handleColumnSort" data-column="floor.value"><span label>Floor</span>&nbsp;<triplat-icon class="sort-icon" icon="sort" tabindex="-1"></triplat-icon></div>
							</div>
							<div class="assessment-col-date">
								<div tri-th class="assessment-header-cell" on-tap="_handleColumnSort" data-column="dueDate"><span label>Due Date</span>&nbsp;<triplat-icon class="sort-icon" icon="sort-ascending" tabindex="-1"></triplat-icon></div>
							</div>
						</div>
					</div>

					<div tri-tbody>
						<template is="dom-repeat" items="{{mySpaceAssessments}}" on-dom-change="_handleTableTemplateDomChange">
							<div tri-tr class="assessment-row" on-tap="_handleOpenAssessment" tabindex="0" on-keypress="_keyPressHandler">
								<div class="assessment-col-description">
									<div tri-td>{{item.description}}</div>
								</div>
								<div class="assessment-col-status">
									<div tri-td>
										<div class="assessment-table-progress-container">
											<triplat-progress-gauge class="assessment-table-progress-gauge" progress="{{item.assessmentProgress}}"></triplat-progress-gauge>
											<div class="assessment-table-progress-label">{{item.status}}</div>
										</div>	
									</div>
								</div>
								<div class="assessment-col-city">
									<div tri-td>{{item.city}}</div>
								</div>
								<div class="assessment-col-building">
									<div tri-td>{{item.building.value}}</div>
								</div>
								<div class="assessment-col-floor">
									<div tri-td>{{item.floor.value}}</div>
								</div>

								<div class="assessment-col-date">
									<div tri-td><triplat-date-picker value="{{item.dueDate}}" readonly display-format="{{currentUser._DateFormat}}"></triplat-date-picker></div>
								</div>
							</div>
						</template>
					</div>
				</div>
			</div>

			<div class="assessment-card-container" hidden$="{{_hideAssessmentCards(_tableLayout, mySpaceAssessments.length)}}">
				<div class="internet-explorer-fix">
					<template id="assessmentsTemplate" is="dom-repeat" items="{{mySpaceAssessments}}">
						<tricomp-progress-assessment-card
								class="assessment-card"
								description="{{item.description}}"
								city="{{item.city}}"
								building="{{item.building.value}}"
								floor="{{item.floor.value}}"
								assessment-progress="{{item.assessmentProgress}}"
								status="{{item.status}}"
								date-format="{{currentUser._DateFormat}}"
								due-date="{{item.dueDate}}"
								on-drill-key-press="_handleCardDrillKeyPress"
								on-tap="_handleOpenAssessment">
						</tricomp-progress-assessment-card>
					</template>
				</div>
			</div>

			<template is="dom-if" if="{{_computeMySpaceAssessmentsEmpty(unfilteredSpaceAssessments.length)}}">
				<div class="no-assessments-container">
					<p class="no-assessments-message">You don't have any space assessments.</p>
					<paper-button class="action-button" on-tap="_handleCreateNew" hidden$="{{!createPermission}}">New Assessment</paper-button>
				</div>
			</template>

		</main>

	</template>
</dom-module>
<script>
	Polymer({

		is: "tripage-my-space-assessments",

		behaviors: [TriBlockPageContainerBehavior, TriPlatTableBehavior],

		properties: {

			mySpaceAssessments : Array,

			_currentFilter: String,

			_tableLayout : {
				type : Boolean
			},

			_largeScreenWidth: {
				type: Boolean,
				value: false
			}, 

			createPermission: {
				type: Boolean
			}, 

			mySpaceAssessmentsReady: {
				type: Boolean,
				value: false
			}

		},

		observers: [
			"_handleScreenWidthChange(_largeScreenWidth)",
			"_handleMySpaceAssessmentsReady(mySpaceAssessments)",
			"_handleTableLayoutChange(_tableLayout)"
		],

		_computeIsEnglishUnit: function(tempUnit) {
			return "e" === this._computeUnits(tempUnit);
		},

		_computeUnits: function(tempUnit) {
			if (tempUnit === "degrees-fahrenheit") {
				return "e";
			} else if (tempUnit === "degrees-celsius") {
				return "m";
			} else {
				console.warn(tempUnit + "is not supported. Defaulting to degrees-fahrenheit.");
				return "e";
			}
		},

		_computePostalAndCountryCodes: function(postalCode, countryCode) {
			// Cannot use this unless users are using HTTPS
			// return navigator.geolocation.getCurrentPosition(function(position) {
			// 	return position.coords.latitude + ":" + position.coords.longitude;
			// });
			return postalCode && countryCode ? postalCode + ":" + countryCode : null;
		}, 

		ready: function() {
			this.set("sortField", "dueDate");
			this.set("secondSortField", "recordId");
			this.set("sortMap", {"assessmentProgress": "status", "dueDate": "recordId"});

			this.set("sortDescending", false);
			this.set("secondSortDescending", false);
		},

		_pageAttached : function() {
			if (this.mySpaceAssessments) {
				this.$.mySpaceAssessmentsDs.refresh();
			}
			this._handleResize();
		},

		_computeLoading: function(mySpaceAssessmentsLoading, mySpaceAssessmentsReady) {
			return mySpaceAssessmentsLoading || !mySpaceAssessmentsReady;
		},

		_computeMySpaceAssessmentsEmpty: function(mySpaceAssessmentsLength) {
			return mySpaceAssessmentsLength == 0;
		},

		_handleCreateNew: function() {
			this.$.createNewRoute.navigate();
		},

		_handleOpenAssessment: function(e) {
			var selectedAssessment = e.model.item;
			
			if (selectedAssessment) {
				this.$.walkthruRoute.navigate({assessmentId: selectedAssessment._id});
			}
		},

		_handleTableLayoutButtonTap: function() {
			this._tableLayout = true;
			this.set("layoutPreference", "table");
		},

		_handleCardLayoutButtonTap: function() {
			this._tableLayout = false;
			this.set("layoutPreference", "card");
		},

		_handleMySpaceAssessmentsReady: function(data) {
			var ready = data != null;
			this.set("mySpaceAssessmentsReady", ready);
		},

		_handleScreenWidthChange: function(isLarge) {
			if (isLarge) {
				if (this.$.layoutPreferenceLocalStorage) this.$.layoutPreferenceLocalStorage.reload();
				if (this.layoutPreference == "table") {
					this.set("_tableLayout", true);
				} else if (this.layoutPreference == "card") {
					this.set("_tableLayout", false);
				} else {
					this.set("_tableLayout", true);
				}
			} else {
				this.set("_tableLayout", false);
			}
		},

		_handleTableLayoutChange: function(isTableLayout) {
			if (isTableLayout) this._handleResize();
		},

		_handleTableTemplateDomChange: function(e) {
			this._handleResize();
		},

		_hideAssessmentCards: function(tableLayout, mySpaceAssessmentsLength) {
			return tableLayout || mySpaceAssessmentsLength == 0;
		},

		_hideAssessmentTable: function(tableLayout, mySpaceAssessmentsLength) {
			return !tableLayout || mySpaceAssessmentsLength == 0;
		},

		_initializeLayoutPreference: function() {
			this.set("layoutPreference", "card");
		},

		_handleCardDrillKeyPress: function(e) {
			var keyCode = e.detail.keyCode;
			if (keyCode == (13 || 32)) {
				this._handleOpenAssessment(e);
			}
		},

		_keyPressHandler: function(event, detail, sender){
			var code=event.keyCode;
			if (code==13){
				this._handleOpenAssessment(event);
			}
		}

	});
</script>